<html>
    <head>
        <style>
        </style>
    </head>
    <body>
        <p>Ciao {{name}},</p>
        <p>Hai richiesto un cambio password</p>
        <p> Per favore clicca il link sottostante per modificare la tua password</p>
        <a href="https://{{link}}">Cambia password</a>
    </body>
</html>